{% extends 'page_wrapper.html' %}
{% from 'macros/form_error.html' import error %}

{% block page_content %}

    <div class="text-center space-y-1 mb-5 mt-7">
        <h1 class="font-montserrat text-xl leading-8 font-medium">Create an account</h1>
        <p class="text-sc-gray-dark font-roboto text-sm leading-6">Sign up to get started</p>
    </div>


    <form novalidate action="" method="post">
        {% set input_styles = "leading-5 font-roboto block p-3  w-full text-sm text-sc-gray-darker bg-transparent rounded-md border-1 border-[#888] appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
        {% set label_styles = "font-roboto leading-5 absolute text-sm text-sc-gray-darker dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto" %}
    
            {{form.hidden_tag()}}

            <div class="grid grid-cols-1 gap-3">
                {% for field in form %}
                        {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                                <p class="relative">
                                <!--  input -->
                                {{field(class=input_styles, placeholder="")}}
                                <!-- label -->
                                {{field.label(class=label_styles, for="default_outlined")}}
                                <!-- error message on validate -->
                                {% for msg in field.errors %}
                                        {{ error(msg) }}
                                {% endfor %}
                                </p>
                        {%endif%}
                {% endfor %}
            </div>

            {{form.submit(class="my-5 inline-block  text-white  text-sm  w-full bg-gradient-to-r from-pc-teal-normal to-pc-teal-normal  hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg px-5 py-2.5 text-center")}}

           
            <div class="text-center">
                <div class="inline-flex items-center justify-center w-full text-sm">
                        <hr class="w-full h-px my bg-sc-gray border-0 dark:bg-gray-700">
                        <span class="absolute px-3 font-medium text-sc-gray -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">or</span>
                </div>
        
                <span class="bg-pc-teal-light my-5 w-9 h-9 rounded-full inline-flex justify-center items-center text-center">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M20.9992 12.2161C20.9992 11.6082 20.9392 10.9808 20.8392 10.3926H12.1768V13.8631H17.1381C16.9381 14.9807 16.2779 15.9611 15.2976 16.5885L18.2584 18.8434C19.9989 17.2552 20.9992 14.9415 20.9992 12.2161Z" fill="#4280EF"/>
                                <path d="M12.1779 20.9999C14.6585 20.9999 16.7391 20.196 18.2595 18.8234L15.2987 16.5882C14.4785 17.1372 13.4182 17.4509 12.1779 17.4509C9.77719 17.4509 7.75663 15.8627 7.01643 13.7451L3.97559 16.0392C5.53602 19.0783 8.69689 20.9999 12.1779 20.9999Z" fill="#34A353"/>
                                <path d="M7.01611 13.7255C6.63601 12.6079 6.63601 11.3922 7.01611 10.2746L3.97527 7.96094C2.67491 10.5099 2.67491 13.5098 3.97527 16.0392L7.01611 13.7255Z" fill="#F6B704"/>
                                <path d="M12.1779 6.5689C13.4782 6.54929 14.7586 7.03948 15.6988 7.92181L18.3196 5.33363C16.6591 3.80425 14.4585 2.98073 12.1779 3.00034C8.69689 3.00034 5.53602 4.92187 3.97559 7.96103L7.01643 10.2747C7.75663 8.1375 9.77719 6.5689 12.1779 6.5689Z" fill="#E54335"/>
                        </svg>
                </span>

                    <div class="text-center">
                                <span class="text-sm font-roboto leading-7 inline-flex justify-center items-center space-x-2.5">
                                        <p class="text-sc-gray-dark">Already have an account? </p>
                                        <a class="underline text-pc-teal-normal" href="/login">Login</a>
                                </span>
                    </div>
            </div>
    </form>
{% endblock %}