{% extends 'page_wrapper.html' %}
{% from 'macros/form_error.html' import error %}

{% block page_content %}
    <div class="text-center space-y-1 mb-5 mt-7">
              <div class="text-center bg-pc-teal-normal   mx-auto w-1/2 text-white">
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                        {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
              </div>

        <h1 class="font-montserrat text-xl leading-8 font-medium">Reset Password</h1>

        <p class="text-sc-gray-dark font-roboto text-sm leading-6">Enter the email associated with your account and we will send an email instruction to reset your passwor</p>
    </div>


    <form novalidate action="" method="post">
        {% set input_styles = "leading-5 font-roboto block p-3  w-full text-sm text-sc-gray-darker bg-transparent rounded-md border-1 border-[#888] appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
        {% set label_styles = "font-roboto leading-5 absolute text-sm text-sc-gray-darker dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto" %}

            {{form.hidden_tag()}}

            <div class="grid grid-cols-1 gap-3">
                {% for field in form %}
                        {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                                <p class="relative">
                                <!--  input -->
                                {{field(class=input_styles, placeholder="")}}
                                <!-- label -->
                                {{field.label(class=label_styles, for="default_outlined")}}
                                <!-- error message on validate -->
                                {% for msg in field.errors %}
                                        {{ error(msg) }}
                                {% endfor %}
                                </p>
                        {%endif%}
                {% endfor %}
            </div>

          {{form.submit(class="my-5 inline-block  text-white  text-sm  w-full bg-gradient-to-r from-pc-teal-normal to-pc-teal-normal  hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg px-5 py-2.5 text-center")}}
   </form>

{% endblock %}
