{% from 'macros/authField.html' import top %}
{% from 'macros/authField.html' import btn_2 %}

{% extends 'base.html' %}
{% block content %}
<div class="flex w-full  flex-col justify-center font-roboto items-center  rounded-t-lg rounded-b-lg bg-white" style="margin-top: 10px; padding: 0px 20px;">
{{ top(top_div[0], top_div[1]) }}
<form action="", class = "w-full"  method="post">
{{ form['hidden'] }}
{% include 'partials/auth_inputs.html' %}

        {{ btn_2( submit[0], submit[1], submit[2], form) }}
</form>

</div>
{% endblock %}

