{% extends 'page_wrapper.html' %}

{% from 'macros/form_error.html' import error %}

{% block page_content %}

    <form novalidate action="" method="post" enctype="multipart/form-data">
        {% set input_styles = "leading-5 font-roboto block p-3  w-full text-sm text-sc-gray-darker bg-transparent rounded-md border-1 border-[#888] appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %}
        {% set label_styles = "font-roboto leading-5 absolute text-sm text-sc-gray-darker dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto" %}

        {{ form.hidden_tag() }}


        <div x-data="{photoName: null, photoPreview: null}"
             class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
            <!-- Photo File Input -->
            <input type="file" name="photo"
                   class="hidden"
                   x-ref="photo"
                   x-on:change=" photoName = $refs.photo.files[0].name; const reader = new FileReader(); reader.onload = (e) => { photoPreview = e.target.result; }; reader.readAsDataURL($refs.photo.files[0]); " />

            <div class="text-center">
                <!-- Current Profile Photo -->
                <div class="mt-2" x-show="! photoPreview">
                    <img src="{{current_user.photo}}"
                         class="w-28 h-28 object-cover object-center m-auto rounded-full shadow" />
                </div>
                <!-- New Profile Photo Preview -->
                <div class="mt-2" x-show="photoPreview" style="display: none;">
                    <span class="block w-40 h-40 rounded-full m-auto shadow"
                          x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'"
                          style="background-size: cover;
                                 background-repeat: no-repeat;
                                 background-position: center center;
                                 background-image: url('null')">
                    </span>
                </div>
                <button type="button"
                        class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2"
                        x-on:click.prevent="$refs.photo.click()">
                    Select New Photo
                </button>
            </div>
        </div>

        <h3 class="my-5 text-base font-normal text-sc-gray-darker leading-6">
            Brand Details
        </h3>
        <div class="grid grid-cols-1 gap-3">
            {% for field in form %}
                {% if loop.index < 4 and field.type != 'CSRFTokenField' and field.type != 'SubmitField' and field.type != 'BooleanField' %}
                    <p class="relative">
                        <!--  input -->
                        {{ field(class=input_styles, placeholder="", value=current_user[field.name]) }}
                        <!-- label -->
                        {{ field.label(class=label_styles, for="default_outlined") }}
                        <!-- error message on validate -->
                        {% for msg in field.errors %}
                            {{ error(msg) }}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}

            <h3 class="my-3 text-base font-normal text-sc-gray-darker leading-6">
                Bank Details
            </h3>
            <p class="relative">
                <!--  input -->
                {{ form.bank_name(class=input_styles, placeholder="") }}
                <!-- label -->
                {{ form.bank_name.label(class=label_styles, for="default_outlined") }}
                <!-- error message on validate -->
                {% for msg in form.bank_name.errors %}
                    {{ error(msg) }}
                {% endfor %}
            </p>

            <p class="relative">
                <!--  input -->
                {{ form.account_number(class=input_styles, placeholder="") }}
                <!-- label -->
                {{ form.account_number.label(class=label_styles, for="default_outlined") }}
                <!-- error message on validate -->
                {% for msg in form.account_number.errors %}
                    {{ error(msg) }}
                {% endfor %}
            </p>

            <p class="relative">
                <!--  input -->
                {{ form.account_name(class=input_styles, placeholder="") }}
                <!-- label -->
                {{ form.account_name.label(class=label_styles, for="default_outlined") }}
                <!-- error message on validate -->
                {% for msg in form.account_name.errors %}
                    {{ error(msg) }}
                {% endfor %}
            </p>
        </div>



        {{ form.submit(class="my-5 inline-block  text-white  text-sm  w-full bg-gradient-to-r from-pc-teal-normal to-pc-teal-normal  hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg px-5 py-2.5 text-center") }}

    </form>

{% endblock %}
