{% extends 'page_wrapper.html' %}

{% from 'macros/productsContainer.html' import productsContainer %}
{% from 'macros/productReview.html' import productReview %}
{% from 'macros/tailor/productItem.html' import productItem %}
{% from 'macros/bottomSheet.html' import bottomSheet %}
{% from 'macros/loadingState.html' import loadingState %}
{% from 'macros/bottomSheet.html' import bottomSheet %}

{% block page_content %}


  <div x-data="{user_email: '', product_id: 'bionic', limit: '', product_name: '', value: '', deal: '', price: 'rrr'}">
    <header class="border-d space-y-4 flex flex-col">
      <form class="flex items-center max-w-lg mx-auto w-full">
        <label for="voice-search" class="sr-only">
          Search
        </label>
        <div class="relative w-full">
          <input type="text"
                 id="voice-search"
                 class="border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Search Products"
                 required />
          <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 20 20">
              <path stroke="#006060" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </button>
        </div>
      </form>
    </header>

    {{ loadingState() }}


    <section class="mt-4">
      <div class="mb-4 p-1 rounded-md bg-sc-gray-light-hover  dark:border-gray-700">
        <ul class="grid grid-cols-2 gap-1 text-pc-teal-normal  text-sm font-medium text-center"
            id="default-styled-tab"
            data-tabs-toggle="#default-styled-tab-content"
            data-tabs-active-classes="bg-white nav-shadow text-pc-teal-normal hover:text-pc-teal-normal dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
            data-tabs-inactive-classes="text-pc-teal-normal :border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
            role="tablist">
          <li class="" role="presentation">
            <button class="inline-block w-full py-2.5  rounded-md"
                    id="profile-styled-tab"
                    data-tabs-target="#styled-profile"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
              Uploaded
            </button>
          </li>
          <li class="" role="presentation">
            <button class="inline-block w-full py-2.5 rounded-md hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                    id="dashboard-styled-tab"
                    data-tabs-target="#styled-dashboard"
                    type="button"
                    role="tab"
                    aria-controls="dashboard"
                    aria-selected="false">
              Draft
            </button>
          </li>

        </ul>
      </div>

      <div id="default-styled-tab-content">
        <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800"
             id="styled-profile"
             role="tabpanel"
             aria-labelledby="profile-tab"
             @load.window="loading = false"
             x-data="{loading: false}">
          <ul role="list" class="px-4 divide-y divide-gray-200" x-show="!loading">
            {% for product in products %}
              {% if not product.on_draft %}
                {{ productItem(product, form=form) }}
              {% endif %}
            {% endfor %}
          </ul>

        </div>
        <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800"
             id="styled-dashboard"
             role="tabpanel"
             aria-labelledby="dashboard-tab">

          <ul role="list" class="px-4 divide-y divide-gray-200" x-show="!loading">
            {% for product in products %}
              {% if product.on_draft %}
                {{ productItem(product, form=form) }}
              {% endif %}
            {% endfor %}
          </ul>

        </div>
      </div>
    </section>

    <a href="{{ url_for("tailor_views.create_product") }}"
       class="fixed end-6 bottom-6 group">
      <button class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700  focus:outline-none dark:focus:ring-blue-800">
        <svg class="w-5 h-5 transition-transform group-hover:rotate-45"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
        </svg>
        <span class="sr-only">Open actions menu</span>
      </button>
    </a>

    {% set sheet_content %}
      <div id="sheet-content" class="space-y-3 py-3">
        <h4 class="text-center font-roboto text-sm text-sc-gray-darker"
            x-text="product_name">
        </h4>


        <form action="" class="grid grid-cols-2 gap-3">
          {{ form.hidden_tag() }}
          <!-- Hidden input field with the product ID -->
          <input type="hidden" name="id" :value='product_id' />
          <!--  Button-->
          <button type="button"
                  hx-post='/move_to_draft'
                  hx-include="[name=id]"
                  hx-trigger="click"
                  class="text-pc-teal-normal  border-1 border-pc-teal-normal text-sm  w-full bg-white  hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2">
            Move to draft
          </button>
          <button type="button"
                  class="text-white  text-sm  w-full bg-gradient-to-r from-pc-teal-normal to-pc-teal-normal  hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2"
                  hx-delete='/delete_product'
                  hx-include="[name=id]"
                  hx-trigger="click"
                  hx-target="#sheet-content"
                  hx-swap="innerHTML">
            Yes delete
          </button>
        </form>
      </div>
    {% endset %}

    {% set customization_form %}
      <form novalidate
            action=""
            @submit.prevent="console.log('submitted')"
            class="gap-3 py-4 font-roboto max-w-sm mx-auto w-full flex flex-col">

        {{ form.hidden_tag() }}

        <h3 x-text="product_id"
            class="font-roboto text-sc-gray-dark text-sm tracking-wide text-center">

        </h3>
        <div class="grid grid-cols-2 gap-x-5 items-center">
          <div>
            <label for="deal"
                   class="block tracking-wide leading-5 text-xs  text-sc-gray-darker dark:text-white">
              Deal
            </label>
            <select id="deal"
                    name="deal"
                    x-model="deal"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option selected value="discount">
                Discount
              </option>
              <option value="increament">
                Increament
              </option>
            </select>
          </div>


          <div>
            <label for="value"
                   class="block tracking-wide leading-5 text-xs  text-sc-gray-darker dark:text-white"
                   :value="value">
              Value: <span class="p-[2px] rounded-[4px] bg-pc-teal-light">NGN</span>,  <span class="p-[2px] rounded-[4px] bg-pc-teal-light">%</span>
            </label>
            <input type="text"
                   name="value"
                   x-model="value"
                   class="max-w- border border-gray-300 text-sc-gray-darker text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="N2500 or 5%"
                   :value="value"
                   required />
          </div>
        </div>

        <div class="relative">
          <input type="text"
                 name="limit"
                 class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-md border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                 placeholder=" "
                 :value="limit" />
          <label for="limit"
                 class="absolute text-sm text-sc-gray-darker dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
            Limit
          </label>
        </div>



        <div class="relative">
          <input type="text"
                 name="email"
                 class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-md border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                 placeholder=" "
                 :value="email" />
          <label for="email"
                 class="absolute text-sm text-sc-gray-darker dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
            User email
          </label>
        </div>

        <div class="relative">
          <input type="hidden" name="product_id" :value="product_id" />
        </div>

        <div class="relative">
          <input type="hidden" name="price" :value="price" />

        </div>


        <div class="flex items-center justify-between gap-2 max-w-lg">
          <div class="grid grid-cols-8 gap-2 w-full max-w-[23rem]">
            <label for="npm-install" class="sr-only">
              Label
            </label>
            <input id="npm-install"
                   type="text"
                   class="truncate col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   disabled
                   readonly />
            <button data-copy-to-clipboard-target="npm-install"
                    class="col-span-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 items-center inline-flex justify-center">
              <span id="default-message">Copy</span>
              <span id="success-message" class="hidden inline-flex items-center">
                <svg class="w-3 h-3 text-white me-1.5"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 16 12">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                Copied!
              </span>
            </button>
          </div>

          <button hx-post="/products/generate_custom_code"
                  hx-trigger="click"
                  hx-target="#npm-install"
                  hx-swap="outerHTML"
                  type="submit"
                  class="inline-flex items-center py-2.5 px-3 self-end text-sm font-medium text-white bg-blue-700 rounded-md border focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Generate
          </button>
        </div>

      </form>
    {% endset %}

    {{ bottomSheet("Customization code", content=customization_form, sheetName="custom-code") 
    }}

  </div>

{% endblock %}
