{% extends 'base.html' %}
 {% from '/macros/howItWork.html' import howItWork %}
{% block content %}
  <section class="w-full h-[20vh] bg-cover bg-center bg-no-repeat bg-[url('/static/images/about.png')] bg-black/30 bg-blend-multiply">
  </section>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <section class="p-4 space-y-4 font-roboto text-base font-normal text-sc-gray-dark leading-6">
      <h1 class="text-xl font-montserrat leading-8 text-sc-gray-darker">
        About Us
      </h1>
      <p class="tracking-wide">
        QuickTailor is where style meets individuality. 
        Our platform connects you with tailors to create custom 
        garments tailored to your unique vision. With a focus on
         craftsmanship, attention to detail, and exceptional service, 
         QuickTailor empowers you to express yourself through clothing 
         that's made just for you. Welcome to QuickTailor, where every stitch tells your story.
      </p>
    </section>

    <div class="px-4 py-2.5 flex flex-col items-end bg-pc-teal-normal text-white justify-center">
        <p class="font-roboto text-base">Our</p>
        <p class="font-montserrat text-xl">Mission</p>
    </div>


    <section class="px-4 py-2 space-y-4 font-roboto text-base font-normal text-sc-gray-dark leading-6">
      <h1 class="text-xl font-montserrat leading-8 text-sc-gray-darker">
        Mission
      </h1>
      <p class="tracking-wide">
        Empowering seamless interactions and fostering trust between 
        tailors and clients through QuickTailor, ensures timely delivery, 
        professionalism, and unparalleled quality in every stitch
      </p>
    </section>

    <section class="px-4 py-2 space-y-4 font-roboto text-base font-normal text-sc-gray-dark leading-6">
      <h1 class="text-xl font-montserrat leading-8 text-sc-gray-darker">
        Vision
      </h1>
      <p class="tracking-wide font-normal">
        Revolutionizing the traditional tailoring experience in Nigeria by providing a platform where tailors and clients can effortlessly connect, ensuring exceptional customer experiences, and setting new standards of professionalism and quality, anytime, anywhere—SEW ON THE GO
      </p>
    </section>
  </div>


  {% include 'partials/footer.html' %}


{% endblock %}
