{% extends 'page_wrapper.html' %}

{% from 'macros/cartItem.html' import cartItem %}
{% from 'macros/loadingState.html' import loadingsState %}


{% block page_content %}
    <div>
        <ul role="list" class="divide-y-1 divide-gray-200">
            {% for product in products %}
                {{ cartItem(product, form) }}
            {% endfor %}
        </ul>


            {% if products | length > 0 %}
            <div class="px-4 fixed bottom-0 left-0 z-50 w-full h-auto bg-white dark:bg-gray-700 dark:border-gray-600">
                <span x-text="len_products"></span>
                <section class="border border-sc-gray-light-active rounded-lg p-3">

                    <form class="flex items-center max-w-lg mx-auto">
                        <label for="voice-search"
                               class=" text-sc-gray text-sm tracking-wide sr-only">
                            Search
                        </label>
                        <div class="relative w-full">
                            <input type="text"
                                   id="custom-code"
                                   class="border border-sc-gray-light-active text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-3 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Customization code"
                                   required />
                         
                        </div>
                        <button type="submit"
                                class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply
                        </button>
                    </form>

                    <ul class="space-y-2 mt-2 tracking-wide text-sm font-roboto text-sc-gray-darker">
                        <li class="flex items-center justify-between">
                            <span class="text-base font-normal">No. of items</span>
                            <span> {{products | length }}  </span>
                        </li>
                        <li class="flex items-center justify-between">
                            <span class="text-base font-normal">Sub total</span>
                            <span class="text-base font-normal tracking-wide"> {{ products | sum_price | currency }} </span>
                        </li>
                        <li class="flex items-center justify-between">
                            <span class="text-base font-normal">Customization value</span>
                            <span> {{ products.customization_value | sum_price | default(0) }}</span>
                        </li>
                    </ul>
                </section>


                <button type="button" @click="console.log(alp_products)"
                        class="text-white mt-5 bg-pc-teal-normal  text-sm  w-full hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2">
                    Check out
                </button>
        </div>
            {% endif %}
      
       
        <script>
            function cartData() {
                return {
                    items: {{ products }},
                    get length() {
                        return this.items.length;
                    }
                }
            }
        </script>
    </div>
{% endblock %}
