{% extends 'base.html' %} 
{% from 'macros/productsContainer.html' import productsContainer %}
{% from 'macros/productCard.html' import productCard %}
{% from 'macros/categories.html' import categories   %}
{% from 'macros/promotionCard.html' import promotionCard   %}
{% from 'macros/tailorCard.html' import tailorCard   %}
{% from 'macros/groupedTailors.html' import groupedTailors  %}
{% from 'macros/featuredProducts.html' import featuredProducts   %}
{% from 'macros/promotion.html' import promotion   %}
{% from 'macros/testimonials.html' import testimonials   %}

{% block content %} 
    {% include 'partials/hero.html' %} 

    {% include 'partials/features.html' %}

        <section class="px-4">
               {{ featuredProducts("Explore featured Products",
                        "Elevate Your Wardrobe with Our Featured Selections", products[:4], crsf, current_user=current_user)}}
        </section>

            

        {{groupedTailors("Popular tailors", tailors)}}

        {% include 'partials/howItWorks.html'   %}

        {{testimonials(reviews)}}

        {% include 'partials/footer.html'   %}
{% endblock %}
