{% extends 'base.html' %} 
{% from 'macros/productsContainer.html' import productsContainer %}
{% from 'macros/productCard.html' import productCard %}
{% from 'macros/categories.html' import categories   %}
{% from 'macros/promotionCard.html' import promotionCard   %}
{% from 'macros/tailorCard.html' import tailorCard   %}
{% from 'macros/groupedTailors.html' import groupedTailors  %}
{% from 'macros/featuredProducts.html' import featuredProducts   %}
{% from 'macros/promotion.html' import promotion   %}
{% from 'macros/testimonials.html' import testimonials   %}

{% block content %} 
    {% include 'partials/hero.html' %} 

    {% include 'partials/features.html' %}


        <section class="px-4">
               {{ featuredProducts("Explore featured Products",
                        "Elevate Your Wardrobe with Our Featured Selections", products[:4], crsf, current_user=current_user)}}
        </section>

 


        <section class="px-4 mt-4">
            {{
                promotion("Connect with verfied tailors!",
                "Disover expert, verified tailors for custom designs. Choose your fabric, add your measurements, and track your order—all in one place",
                bg_img="bg-tailor-img-2", button_name="Discover more", opacity=40)
            }}
        </section>

     
        

        {{groupedTailors("Popular tailors", tailors)}}

        {% include 'partials/howItWorks.html'   %}

        {{testimonials(reviews)}}

        {% include 'partials/footer.html'   %}
{% endblock %}
