{% extends 'base.html' %} 
{% from 'macros/productsContainer.html' import productsContainer %}
{% from 'macros/productCard.html' import productCard %}
{% from 'macros/categories.html' import categories   %}
{% from 'macros/promotionCard.html' import promotionCard   %}
{% from 'macros/tailorCard.html' import tailorCard   %}
{% from 'macros/groupedTailors.html' import groupedTailors  %}
{% from 'macros/featuredProducts.html' import featuredProducts   %}
{% from 'macros/promotion.html' import promotion   %}

{% block content %} 
    {% include 'partials/hero.html' %} 

    {% include 'partials/features.html' %}


        <section class="px-4">
               {{ featuredProducts("Explore featured Products",
                        "Elevate Your Wardrobe with Our Featured Selections", products[:4])}}
        </section>

        
        <section class="p-4">
                    {{promotion("Delightful Kids' Styles",
                    "Explore custom outfits for children, tailored to fit perfectly and keep them looking adorable.")}}
        </section>

     
        

        {{groupedTailors("Popular tailors", tailors)}}

        {% include 'partials/howItWorks.html'   %}

        {% include 'partials/testimonials.html'   %}

        {% include 'partials/footer.html'   %}
{% endblock %}
