{% extends 'base.html' %}

{% from '/macros/feature.html' import feature %}


{% block content %}
    <section class="bg-black/40 flex flex-col items-center justify-center w-full h-[20vh] bg-cover bg-center bg-no-repeat bg-[url('/static/images/hero_img_1.png')]  bg-blend-multiply">
            <div class="text-center gap-y-1 flex flex-col items-center justify-center">
                <h1 class="font-montserrat text-white text-xl font-medium">
                    Our process
              </h1>
              <p class="font-roboto text-sc-gray-light text-xs font-normal tracking-widest">
                Achieve Your Perfect Fit in 6 Simple Steps
              </p>
        
            </div>
    </section>

    <section class="p-4 grid grid-cols-2 md:grid-cols-2 gap-2">
        {{ feature('Style Selection', 'style_selection', 'Choose your perfect design from our collection.') }}

        {{ feature('Personalize', 'customization', 
        'Customize details like fabrics, colors, and fit to match your style.') }}

        {{ feature("Add Measurement", "provide_measurement", 
        "Provide your measurements using our intiutive measurement guild") }}

        {{ feature("Place Your Order", "order_placement",
            "Place your order with confidence and submit your design.") }}

        

        {{ feature("Progress Tracking", "tracking",  "Follow your order’s journey from tailoring to delivery.") }}


        {{ feature("Enjoy Your Style", "enjoy", "Receive your custom outfit and showcase your unique look.") }}
    </section>

    <div class="p-4 text-center">
        <button type="button"
                class="font-roboto leading-5 py-2.5 px-6 text-sm font-medium text-pc-teal-normal focus:outline-none bg-sc-gray-light rounded-lg tracking-wider hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Get Started
        </button>
    </div>

    <section class="p-4">
        <h3 class="font-montserrat text-xl text-sc-gray-darker leading-8 text-center mb-3">
            For Tailors
        </h3>

        <div class="bg-pc-teal-normal rounded-md pb-4">
            <div>
                <img class="rounded-t-md object-cover object-center"
                     src="{{ url_for('static', filename='/images/forTailors.png') }}"
                     alt="" />
            </div>

            <div class="text-sm font-roboto space-y-4 p-4 text-sc-gray-light-hover leading-6">
                <h4 class="text-base">
                    Join QuickTailor
                </h4>

                <p class="leading-6 text-balance">
                    Are you a skilled tailor looking to expand your clientele and showcase
                    your craftsmanship to a broader audience? Join us at QuickTailor, where
                    we're revolutionizing the way custom clothing is made and experienced. As
                    a part of our platform, you'll have access to showcase your expertise,
                    connect with customers who appreciate quality, and take your craft to new
                    heights. Join QuickTailor today and become a part of a movement where
                    every stitch tells a story of excellence and individuality. Let's create
                    something extraordinary together."
                </p>
            </div>

            <a href="#"
               class="font-roboto mx-4 space-x-2.5 inline-flex justify-start items-start py-2.5 px-6 text-sm font-medium text-center text-pc-teal-normal rounded-md bg-white focus:ring-4 focus:ring-pc-teal-normal dark:focus:ring-blue-900">
                <span class="tracking-wide font-roboto">Join</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="25"
                     height="24"
                     viewBox="0 0 25 24"
                     fill="none">
                    <path d="M7.5 17L17.5 7L7.5 17ZM17.5 7H8.5H17.5ZM17.5 7V16V7Z" fill="#008080" />
                    <path d="M7.5 17L17.5 7M17.5 7H8.5M17.5 7V16" stroke="#008080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </section>

    {% include 'partials/footer.html' %}


{% endblock %}
