{% extends 'base.html' %}
{% block content %}

<div class="flex w-full px-16 p-4  flex-col justify-center font-roboto items-center gap-16 rounded-t-lg rounded-b-lg bg-white" style="margin-top: 25px;">
<div class="flex justify-center items-center text-center mb-1  text-base font-medium text-gray-700" style=" font-size: 20px; padding:5px 0px">
    Welcome back
</div>
<div class="flex justify-center items-center text-center  text-sm font-normal text-gray-700" style="margin-top:12px; margin-bottom: 20px; font-size:14px;">
    Sign in to continue
</div>
<form action="", class = "w-full"  method="post">
<div class="w-full relative" style="margin-bottom:25px;" >
 <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 " style="top: -10px; padding:0px 3px; margin-left:20px;">Email</label>
    <input type="text" id="floating_outlined" class=" rounded-lg  focus:ring-blue-500 focus:border-blue-500  block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="example@gmail.com " />
</div>


<div class="w-full relative" style="margin-bottom:25px;" >
	<label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 " style="top: -10px; padding:0px 3px; margin-left:20px;"> Password</label>
    <input type="text" id="floating_outlined" class=" rounded-lg  focus:ring-blue-500 focus:border-blue-500  block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="Password " />

 <button
        type="button"
        class="absolute inset-y-0 end-0 flex items-center pe-3"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
        <path d="M15.0009 12C15.0009 13.6569 13.6578 15 12.0009 15C10.3441 15 9.00098 13.6569 9.00098 12C9.00098 10.3431 10.3441 9 12.0009 9C13.6578 9 15.0009 10.3431 15.0009 12Z" stroke="#888888" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#888888" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
</div>

  
<form class="flex items-center max-w-lg mx-auto w-full">
    <label for="voice-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <input
        type="text"
        id="voice-search"
        class="border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search Products, Tailors, Categories..."
        required
      />
      <button
        type="button"
        class="absolute inset-y-0 end-0 flex items-center pe-3"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
        <path d="M15.0009 12C15.0009 13.6569 13.6578 15 12.0009 15C10.3441 15 9.00098 13.6569 9.00098 12C9.00098 10.3431 10.3441 9 12.0009 9C13.6578 9 15.0009 10.3431 15.0009 12Z" stroke="#888888" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke="#888888" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
      </button>
    </div>
  </form>


<input type="submit">
</form>


</div>
{% endblock %}

