{% from 'macros/authField.html' import authField %}
{% from 'macros/authField.html' import top %}
{% from 'macros/authField.html' import btn %}
{% from 'macros/authField.html' import password %}


{% extends 'base.html' %}
{% block content %}
<div class="flex w-full px-16 p-4  flex-col justify-center font-roboto items-center gap-16 rounded-t-lg rounded-b-lg bg-white" style="margin-top: 25px;">
{{ top(top_div[0], top_div[1]) }}
<form action="", class = "w-full"  method="post">

 {% for field in forms_field %}

          {{ authField(field.label, field.placeholder) }}

        {% endfor %}

  {{ password() }}

<div class="flex justify-end items-center mt-4 text-center  text-sm font-normal text-gray-700" style=" line-height: 21px; text-decoration-line: underline;  margin-bottom: 10px; font-size:14px; color: #666;">
	<a href="/password_reset"> Forgot password? </a>
</div>
 <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input id="remember" type="checkbox" value="" class="w-5 h-5 border border-gray-300 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500  dark:bg-gray-700 text-pc-teal-normal dark:border-gray-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"; />
    </div>
    <label for="remember" class="ms-2 text-sm font-normal text-gray-900 dark:text-gray-300" style="color: #666; font-size:14px;">Remember me</label>
  </div>
<div>
{{ btn( submit) }}
</div>
</form>

<div class="flex justify-center items-center text-center  text-sm font-normal text-gray-700" style="margin-top:12px; margin-bottom: 20px; font-size:14px;">
        <div style="margin-right:20px; color: var(--Grey-Dark, #606060);"> Don't have an account yet?</div>   <a href="/register" class="no-underline hover:text-blue-500 text-pc-teal-normal  ml-4">Register</a>
</div>

</div>
{% endblock %}

