{% extends 'base.html' %}

{% block content %}
  <div class="container mx-auto px-4 mt-[72px]  py-8">

    <div id="notification-container" class="flex flex-col gap-2 font-roboto bg-white">
      <!-- Notifications will be dynamically inserted here -->
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let page = 1;
        const container = document.getElementById('notification-container');

        const loadNotifications = () => {
            fetch(`/get_notifications?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        data.forEach(notification => {
                            const notificationElement = document.createElement('div');
                            notificationElement.innerHTML = `
                                <h4 class="font-normal text-black">${notification.time}</h4>
                                <a href="/">
                                  <div class="flex flex-row bg-notif rounded-lg m-0 py-2.5 pl-4 my-2 h-[75px]">
                                      <p class="self-start">${notification.icon}</p>
                                      <p class="text-gray-600 font-normal leading-[21px] text-[14px] ml-2">${notification.content}</p>
                                      <p class="self-end font-normal leading-[21px] text-[10px] w-[25%]">${notification.time_elapsed}</p>
                                  </div>
                                </a>
                            `;
                            container.appendChild(notificationElement);
                        });
                        page++;
                    }
                });
        };

        const handleScroll = () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                loadNotifications();
            }
        };

        window.addEventListener('scroll', handleScroll);
        loadNotifications(); // Initial load
    });
  </script>
{% endblock %}

