{% extends 'base.html' %}
{% from 'macros/notification.html' import notify %}
{% from 'macros/tailorBadge.html' import tailorBadge   %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


{% block content %}
    <div id="notification-container" class="flex flex-col  mt-16 mx-[16px]  gap-2 font-roboto bg-white">
      <!-- Notifications will be dynamically inserted here -->
    </div>

  <script>
    
function customTimeFormat(datetimeString, timezoneOffset = 0) {
    // If the input is 'N/A', return 'N/A'
    if (datetimeString === 'N/A') {
        return 'N/A';
    }

    // Create a new Date object from the datetime string
    const date = new Date(datetimeString);

    // Adjust for the specified timezone offset (in hours)
    const localDate = new Date(date.getTime() + timezoneOffset * 3600000);
    const now = new Date();
    const diff = now - localDate;

    // Calculate the difference in various units
    const seconds = Math.floor(diff / 1000);
    const minutes = Math.floor(diff / 60000);
    const hours = Math.floor(diff / 3600000);

    // If the datetime is under 30 seconds
    if (seconds < 30) {
        console.log('hiiiii ereare ');
        return 'just now';

    }
    // If the datetime is under 60 seconds
    else if (seconds < 60) {
        return `${seconds} seconds ago`;
    }
    // If the datetime is under 60 minutes
    else if (minutes < 60) {
        return `${minutes} minutes ago`;
    }
    // For dates older than 24 hours
    else {
        // Get hours and minutes
        let localHours = localDate.getUTCHours();
        let localMinutes = localDate.getUTCMinutes();

        // Format hours and minutes to ensure they are two digits
        localHours = localHours < 10 ? '0' + localHours : localHours;
        localMinutes = localMinutes < 10 ? '0' + localMinutes : localMinutes;

        // Return the formatted time
        return `${localHours}:${localMinutes}`;
    }
}


	function getCurrentTime24() {
            const now = new Date();
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            return `${hours}:${minutes}`;
        }

    const socket = io.connect();

    // Event listener for successful connection
    socket.on('connect', () => {
    console.log('Connected to the server');
    });



    socket.on('new_notification', (notification) => {
            const container = document.getElementById('notification-container');
            const div = document.createElement('div');
	    console.log(notification)
            div.className = 'notification';
            div.setAttribute('data-id', notification.id);
            div.setAttribute('data-url', notification.url);
            div.innerHTML = `{{ notify('0', '${notification.content}', '${getCurrentTime24()}', tailorBadge()) }}`;
            div.addEventListener('click', () => {
                                fetch(`/notifications/${notification.id}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        // Redirect to the notification URL
                                        window.location.href = notification.url;
                                        div.firstElementChild.style.background = "white";

                                    })
                                    .catch(error => {
                                        console.error('There was a problem with the fetch operation:', error);
                                    });
                            });


            container.prepend(div);


    });


    document.addEventListener('DOMContentLoaded', (event) => {
        let page = 1;
        const container = document.getElementById('notification-container');
        container.innerText = '';

        // Function to load notifications from the server
        const loadNotifications = () => {
            fetch(`/get_notifications?page=${page}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        data.forEach(notification => {
                            const div = document.createElement('div');
                            div.className = 'notification';
                            div.setAttribute('data-id', notification.id);
                            div.setAttribute('data-url', notification.url);

                            // Render the notification using the Jinja2 macro
					  if (notification.is_clicked)
				          {
					          div.innerHTML = `{{ notify('1', '${notification.content}', '${notification.created_at}', tailorBadge()) }}`;
					  }
					  else 
					  div.innerHTML = `{{ notify('0', '${notification.content}', '${notification.created_at}', tailorBadge()) }}`;


                            // Add the click event listener to the notification
                            div.addEventListener('click', () => {
                                fetch(`/notifications/${notification.id}`)
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error('Network response was not ok');
                                        }
                                        // Redirect to the notification URL
                                        window.location.href = notification.url;
				        div.firstElementChild.style.background = "white";

                                    })
                                    .catch(error => {
                                        console.error('There was a problem with the fetch operation:', error);
                                    });
                            });

                            // Append the notification to the container
                            container.prepend(div);
                        });
                        page++;
                    }
		   else if (container.innerText == ''){

                           container.innerHTML= `<p id="empty" class="text-center text-[14px]" style="color: var(--Grey-Dark, #606060);"> You have no notification yet </p>`
			 }
                })
                .catch(error => {
                    console.error('Error loading notifications:', error);
                });
        };

        // Handle the scroll event for infinite scrolling
        const handleScroll = () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                loadNotifications();
            }
        };

        window.addEventListener('scroll', handleScroll);
        loadNotifications(); // Initial load
    });

  </script>
{% endblock %}

