{% from 'macros/authField.html' import top %}
{% from 'macros/authField.html' import btn_2 %}

{% extends 'base.html' %}
{% block content %}
<div class="flex w-full px-16 p-4  flex-col justify-center font-roboto items-center gap-16 rounded-t-lg rounded-b-lg bg-white" style="margin:auto; margin-top: 25px; width:95%;">
{{ top(top_div[0], top_div[1]) }}
<form action="", class = "w-full"  method="post">

{% include 'partials/auth_inputs.html' %}


        {{ btn_2( submit[0], submit[1], submit[2], form) }}
</form>

</div>
{% endblock %}

