{% macro productItem(id, name, price, material, img_url) %}
  <li class="font-roboto flex py-4">
    <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
      <img src="{{ img_url }}"
           alt=""
           class="h-full w-full object-cover object-center" />
    </div>

    <div class="ml-4 flex flex-1 flex-col">
      <div>
        <div class="flex justify-between text-base font-medium text-gray-900">
          <h3 class="text-sm text-sc-gray-darker leading-6">
            <a href="#"> {{ name }} </a>
          </h3>
        </div>
        <p class="mt-1 text-xs text-sc-gray-dark">
          {{ material }}
        </p>
      </div>
      <div class="flex flex-1 items-end justify-between text-sm">
        <p class="text-black text-base font-normal leading-6 tracking-wide">
          {{ price | currency }}
        </p>

        <div class="flex">
          <button data-drawer-target="remove-product"
                  data-drawer-show="remove-product"
                  data-drawer-placement="bottom"
                  aria-controls="remove-product"
                  type="button"
                  x-on:click="product_name = '{{name}}'; product_id = '{{id}}'"
                  class="font-normal underline text-sc-gray-dark text-xs">
            Remove
          </button>
        </div>
      </div>
    </div>
  </li>
{% endmacro %}
