

{% macro bottomSheet(title, content, sheetName) %}

  <!-- drawer component -->
  <div id="{{ sheetName }}"
       class="font-roboto pt-5 rounded-t-3xl bg-white fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto transition-transform dark:bg-gray-800 translate-y-full"
       tabindex="-1"
       aria-labelledby="drawer-bottom-label">
    <h5 id="drawer-bottom-label"
        class="inline-flex start-1/4 leading-6  items-center mb-4 text-base  text-black dark:text-gray-400">
      {{ title }}
    </h5>
    <button type="button"
            data-drawer-hide="{{ sheetName }}"
            aria-controls="drawer-bottom-example"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none">
        <path d="M6.75781 17.2426L12.0004 12M12.0004 12L17.243 6.75732M12.0004 12L6.75781 6.75732M12.0004 12L17.243 17.2426" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="sr-only">Close menu</span>
    </button>

    <hr class="h-[1px] my-0 bg-gray-200 border-0 dark:bg-gray-700" />

    {{
      content
    }}

  </div>

{% endmacro %}
