{% macro cartItem(product, form) %}
    {% from 'macros/tailorBadge.html' import tailorBadge %}

    <li id="product-{{product.id}}"  class="card-shadow rounded-md flex flex-col p-2 gap-y-[1px]">
        <div class="flex items-center font-roboto">
            <div class="h-[85px] w-[85px] flex-shrink-0 overflow-hidden rounded-md">
                <img src="{{ product.img_urls[0] }}"
                     alt=""
                     class="h-full w-full object-cover object-center" />
            </div>

            <div class="ml-4 flex flex-1 flex-col gap-y-2">
                <div>
                    <div class="flex justify-between items-center text-base font-medium text-gray-900">
                        <h3 class="text-base tracking-wide font-normal text-sc-gray-darker leading-6">
                            <a href="#"> {{ product.name }} </a>
                        </h3>


                    </div>

                    <div class="flex items-center justify-between">
                        <p class="mt-1 text-xs tracking-wider text-sc-gray-dark">
                            {{ product.material }}
                        </p>

                        <form action="" class="">
                            {{ form.hidden_tag() }}
                            <!-- Hidden input field with the product ID -->
                            <!-- <input type="hidden" name="id" :value='product_id' /> -->
                            <!--  Button-->
                            <button type="button"
                                    hx-delete='/products/{{product.id}}/cart'
                                    @click="window.location.reload()"
                                    hx-trigger="click""
                                    hx-target="#product-{{product.id}}"
                                    hx-swap="innerHTML">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                                        <path d="M4.66602 8.6665H23.3327" stroke="#2D2D2D" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7 8.6665V21.4998C7 23.4329 8.56701 24.9998 10.5 24.9998H17.5C19.433 24.9998 21 23.4329 21 21.4998V8.6665" stroke="#2D2D2D" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.5 6.33333C10.5 5.04467 11.5447 4 12.8333 4H15.1667C16.4554 4 17.5 5.04467 17.5 6.33333V8.66667H10.5V6.33333Z" stroke="#2D2D2D" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                            </button>

                        </form>

                    </div>


                </div>
                <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-black font-semibold  font-dosis text-base  leading-6 tracking-wider">
                        {{ product.price | currency }}
                    </p>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
