{% macro categoryCard(name) %}
   <div class="min-w-[83%]">
    <!-- Item 1 -->
    <img
      class="w-full aspect-[0.94] object-cover rounded-md"
      src="https://s3-alpha-sig.figma.com/img/cec8/ba82/e0061b75f858a1848f5cc86fac549693?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XAu3g74bnUC3ZYu-trgOAsNlYXqEdElJQgAg5xXFLayqgZ1Hbj1SkXNJ6N0CcUpxv6Z02gxcn2O4urDCtOloEZFalJtaENoOIELiarYwT1Ky4d7055HewWzbbFZiSmltnAxPahDdvQrD1QnSamBlGHqnryWGqt5k9D9DGcql~ln60oaVNhXXx2D1IC5D3aaqH5acBABWiX7~UPeN5tgBGUIid~nNV9wz8AkVQTO6nyXWn8kFY6F3WXa6bFKmQF-hGZYW60b83hNrKdnVzWsFoWamVM4CPHmtSyX3gKqQzk7Vb9tva6LvGyo~eKQp4fmGbNBy4RklNT5cOOOmZJZjOg__"
      class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      alt="..."
    />

    <p class="p-2 text-black font-montserrat">Senator</p>
   </div>
{% endmacro %}