
{% from 'macros/promotionCard.html' import promotionCard   %}
{% from 'macros/categoryCard.html' import categoryCard   %}


{% macro categories(title, categories) %}
<section class="p-4 w-full bg-pc-teal-light text-xl font-roboto leading-8 text-white text-center font-medium">
    <h3 class="text-xl font-roboto leading-8 text-black text-center font-normal mb-2">{{title}}</h3>
        <div class="relative w-full h-auto overflow-x-scroll rounded-lg md:h-96 flex gap-4">
            {% for category in categories %}
                {{
                    categoryCard("Agbada")
                }}
            {% endfor %}
        </div>
</section>
{% endmacro %}


