{% macro feature(name, iconName, text) %}
    <div class="font-roboto card-shadow py-4 px-3 rounded-md gap-2 flex flex-col items-center justify-center">
        <div class="flex justify-center bg-sc-gray-light w-14 h-14 items-center rounded-full">
            <img src="{{ url_for('static', filename='icons/' + iconName + '.svg' ) }}" alt="">
        </div>

        <p class="text-base text-center leading-6 font-normal font-roboto text-sc-gray-darker tracking-wider"> {{name}} </p>
        <p class="text-xs leading-5 text-sc-gray-dark text-center tracking-wider">
            {{text}}
        </p>
    </div>
{% endmacro %}