{% set class = "text-xs w-fit font-Roboto font-medium h-fit flex items-center  max-w-xs px-4 p-2 bg-pc-teal-light rounded-md  text-sc-gray-darker" %}

{% macro top_style( position) %}
    {% if position == 'top' %}
         class="flex w-full bg-[white]  my-[45px] pt-4 px-4 flex-row  justify-between " 
        style=" position:fixed; top:0; right:0; left:0; z-index:100;"
    {% else  %}
        class="flex w-full bg-white pt-4 pb-[45px] px-8  flex-row justify-between " 
        style=" position:fixed; bottom:0; right:0; left:0; z-index:200;"
    {% endif %}
{% endmacro %}


{% macro messageTop(middle, right, position, left) %}
<div  {{ top_style(position) }}>
{% if left %}
    <div class="self-center" style="flex: 1;">
   
	    {{ left }}
    </div>
{% else %}
     <div class="self-center" style="flex: 1;">
         <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                <path d="M24.0846 17.4997H9.91797M9.91797 17.4997L15.5846 23.1663M9.91797 17.4997L15.5846 11.833" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
         </svg>
    </div>
{% endif %}
   <div class="self-center text-center mr-4" style="flex: 8; ">      
            {{ middle }}
   </div>
   <div class=" self-center" style="flex: 1;">      
            {{ right }}
   </div>

</div>

{% endmacro %}


{% macro messages(side, msg, time, img) %}

<div  {{ set_main_style(side) }}>
	<div {{ set_time_style(side) }}>
	       {{ time }}
       </div>
       {% if img %}
         <div {{ set_style(side) }}>
              <div class="">
		      {{ img }}
	      </div>
	      <div class="">
	      {{ msg }}
	      </div>
         </div>
       {% else %}
          <div {{ set_style(side) }}>
             {{ msg }}

         </div>
       {% endif %}
</div>

{% endmacro %}

{% macro set_style( position) %}
    {% if position == 'right' %}
        style="background-color: var(--Primary-Color-Teal-Dark, #006060); color: var(--White, #FFF);   border-radius: 8px 8px 0 8px;"
	class = " flex flex-col p-[8px] w-[80%] leading-[21px] font-normal font-roboto tracking-[0.25px] text-gray-800  text-[14px]"
	
    {% else  %}
        style="background-color: var(--Primary-Color-Teal-Light, #E6F2F2); color: var(--Grey-Darker, #2D2D2D);   border-radius: 8px 8px 8px 0;"
	 class = " flex flex-col p-[8px] w-[80%] leading-[21px] font-normal font-roboto tracking-[0.25px] text-gray-800 order-1  text-[14px]"
    {% endif %}
{% endmacro %}

{% macro set_main_style( position) %}
    {% if position == 'right' %}
        class ="self-end flex flex-row  mb-[24px] w-[85%] "

    {% else  %}
         class = "self-start flex flex-row  mb-[24px] w-[85%] "
    {% endif %}
{% endmacro %}

{% macro set_time_style( position) %}
    {% if position == 'right' %}
        class ="self-end leading-[21px] w-[20%] font-normal font-roboto tracking-[0.25px] text-gray-800   text-[10px] "

    {% else  %}
         class = "self-end leading-[21px] w-[20%] font-normal font-roboto tracking-[0.25px] text-gray-800  ml-2  text-[10px] order-2 "
    {% endif %}
{% endmacro %}


