{% from 'macros/tailorBadge.html' import tailorBadge %}
{% macro orderItem(order) %}
<a href="/orders/{{order.id}}" class="block">
    <li class="card-shadow p-2 rounded-lg sm:py-4 font-roboto">

        <p class="mb-2 text-xs font-roboto text-sc-gray-darker tracking-wide">
            #Order
            {{
            order.id[:7]
            }}
        </p>


        <div class="flex items-center">
            <div class="flex-shrink-0">
                <img class="w-16 h-16 rounded-md object-cover object-center" src="{{order.product.img}}" alt="Product Image" />
            </div>

            <div class="flex flex-col gap-3 ms-3">
                <p class="text-sm  text-black truncate dark:text-white">
                    {{order.product.name}}
                </p>
                <p class="leading-6 text-base font-normal truncate dark:text-gray-400">
                    {{order.product.price | currency }}
                </p>
            </div>
        </div>

        <dl>
            <dd class="flex items-center my-2 ">
                <div class="w-full bg-[#DEDEDE] rounded-md h-[3px] dark:bg-gray-700 me-2">
                    <div class="bg-[#E28835]  h-[3px] rounded-md dark:bg-blue-500" style="width: 45%"></div>
                </div>
            </dd>
        </dl>

        <div class="flex justify-between items-center">
            <div class="mt-1 ">
                {{ tailorBadge(order.product.tailor.business_name, order.product.tailor.photo) }}
            </div>

            <div>
                {% if order.stages[0]['status'] == 'completed' and order.stages[4]['status'] == 'pending' %}
                    {% set color = '#E28835' %}
                    {% set bgcolor = '#E2883510' %}
                {% elif order.stages[4]['status'] == 'completed' %}
                    {% set color = '#138F27' %}
                    {% set bgcolor = '#138F2710' %}
                {% else %}
                    {% set color = '#6E6E6E' %}
                    {% set bgcolor = '#6E6E6E10' %}
                {% endif %}

                <span style="background-color: {{ bgcolor }}; color: {{color}};"
                    class="ms-2 !capitalize tracking-wider bg-[#6E6E6E]/10 max-w-20 text-[#6E6E6E] text-xs px-4 py-1 rounded-md dark:bg-blue-900 dark:text-blue-300">{{order.status
                    | lower }}</span>
            </div>
        </div>
    </li>

    <div class="flex justify-end mt-3">
        <p class="text-xs font-roboto text-sc-gray-darker">{{order.created_at | timeago }}</p>
    </div>
</a>
{% endmacro %}