{% from 'macros/productCard.html' import productCard %}

{% macro productsContainer(title, products) %}
    <section class="w-full">
        <h3 class="text-fdt-brown-dark text-xl leading-9 capitalize font-montserrat">
            {{title}}
        </h3>
        
        <div class="grid grid-cols-2 md:grid-cols-5 md:grid-rows-4 gap-x-4 gap-y-5 mt-4">
            {% for product in products %} 
                {{ productCard(product.name, product.price,
                                product.img, product.id,
                                product.tailor.business_name,
                                product.tailor.photo) }} 
            {% endfor %}
          </div>
    </section>
{% endmacro %}