{% from 'macros/tailorBadge.html' import tailorBadge %}

{% macro productCard(product, form, current_user=None) %}
  <div x-data='manager({{ product.to_json | safe }}, likedBefore={{ "true" if product.id in (current_user.saved_items or []) else "false"}})'
       class="relative p-1 w-full max-w-sm rounded-md  dark:bg-gray-800 dark:border-gray-700 card-shadow">
    <a href="/products/{{ product.id }}">
      <img class="block object-center rounded-md object-cover max-w-full aspect-square"
           src="{{ product.img }}"
           alt="" />
    </a>
    <div class="p-1">
      <a href="/products/{{ product.id }}">
        <h5 class="truncate text-sm tablet:text-base leading-8 font-roboto font-normal tracking-wider text-sc-gray-darker dark:text-white">
          {{ product.name }}
        </h5>
      </a>
      <div class="mt-1 flex justify-between items-center">
        <div class="text-center text-base font-dosis font-semibold leading-7 tablet:text-base text-sc-gray-darker tracking-wider dark:text-white">
          {{ product.price | currency }}
        </div>

        {% if product.reviews | average_reviews > 0 %}
          <div class="flex items-center gap-x-2  justify-center -space-x-1 rtl:space-x-reverse">
            <svg class="w-4 h-4 text-yellow-300"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>

            <span class="font-roboto text-sc-gray-dark text-xs rounded dark:bg-blue-200 dark:text-blue-800 ms-3">{{ product.reviews | average_reviews }}</span>
          </div>
        {% endif %}
      </div>

      <hr class="h-[0.5px] my-1 bg-gray-200 border-0 dark:bg-gray-700" />


      <div class="flex items-center justify-between mt-2  w-full">
        <a href="/{{ product.tailor.business_name }}">
          {{ tailorBadge(product.tailor.business_name,
            product.tailor.photo, product.tailor.is_available) }}
        </a>
      </div>
    </div>

    <form>
      {{form.hidden_tag()}}
      <button type="button" class="absolute top-2 right-2 bg-white p-1 rounded-full"
            x-on:click="addItem()"
            hx-post="/product/{{product.id}}/save"
            hx-swap="none">
        <svg :class="{'fill-pc-teal-normal': liked }"
             xmlns="http://www.w3.org/2000/svg"
             width="18"
             height="18"
             viewBox="0 0 18 18"
             fill="none">
          <path d="M15.1151 8.21402L15.1151 8.21405C14.784 9.92327 13.26 11.5924 11.7086 12.8782C10.9472 13.5092 10.2066 14.0259 9.65586 14.385C9.38264 14.5631 9.15704 14.7018 8.99998 14.7959C8.84292 14.7018 8.61732 14.5631 8.3441 14.385C7.79334 14.0259 7.05275 13.5092 6.29139 12.8782C4.73998 11.5924 3.21601 9.92327 2.88485 8.21405L2.88485 8.21402C2.5438 6.45434 2.88558 5.18506 3.50015 4.36701C4.11727 3.54555 5.04786 3.12491 5.99998 3.12491H6.01589L6.03176 3.12389C6.53156 3.09206 7.03087 3.19328 7.47881 3.41725C7.92675 3.64122 8.30731 3.97993 8.58172 4.39887L8.99998 5.03743L9.41824 4.39887C9.69265 3.97993 10.0732 3.64122 10.5212 3.41725C10.9691 3.19328 11.4684 3.09206 11.9682 3.12389L11.9841 3.12491H12C12.9521 3.12491 13.8827 3.54555 14.4998 4.36701C15.1144 5.18506 15.4562 6.45434 15.1151 8.21402Z" stroke="#008080" />
        </svg>
      </button>
    </form>
  </div>

  <script>
          function manager(item, likedBefore) {
            return {
              liked: false || likedBefore, 
              item: item,
              items: {},
              loadItems() {
                    // Load items from local storage
                    let savedItems = localStorage.getItem('savedItems');
                    this.items = savedItems ? JSON.parse(savedItems) : {};
                },
                addItem() {
                    this.loadItems();
                    console.log(this.items)
                    console.log(this.item.id)

                    if (!(this.item.id in this.items)) {
                      // Add new item to the list
                      this.items[this.item.id] = this.item;
                    } else {
                      // Remove item from the list
                      delete this.items[this.item.id];
                  }
                  // Store updated list in local storage
                  localStorage.setItem('savedItems', JSON.stringify(this.items));
                  this.liked = !this.liked;
                }
            }
          }
  </script>

{% endmacro %}
