{% from 'macros/tailorBadge.html' import tailorBadge   %}
    

{% macro productCard(name, price, img_url, id) %}

<div
  class="w-full max-w-sm   dark:bg-gray-800 dark:border-gray-700"
>
  <a href="/products/{{id}}">
    <img
      class="block object-center object-cover max-w-full aspect-square rounded-sm"
      src="{{img_url}}"
      alt=""
    />
  </a>
  <div class="px-2">
    <a href="#">
      <h5
        class="overflow-hidden whitespace-nowrap text-ellipsis text-sm tablet:text-base leading-7 text- font-roboto font-normal tracking-wide text-gray-900 dark:text-white"
      >
        {{name}}
      </h5>
    </a>
    <div class="flex justify-between items-center">
      <div class="text-center text-sm leading-7 tablet:text-base font-medium text-gray-900 dark:text-white font-roboto">{{ price | currency }}</div>

      <div class="flex items-center  justify-center -space-x-1 rtl:space-x-reverse">
        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>

        <span
        class="font-montserrat leading-7 text-sc-gray-darker text-xs  px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"
        >5.0</span
      >
      </div>
    </div>
    
    <hr class="h-[0.5px] my-0 bg-gray-200 border-0 dark:bg-gray-700">


      <div class="flex items-center justify-between mt-2  w-full">
        <a href="/yomi-casual">
          {{ tailorBadge() }}
        </a>
      </div>
  </div>
</div>

{% endmacro %}
