{% macro tailorBadge(name) %}
   <span class="flex gap-1 items-center relative">
    <div class="relative h-fit">
        <img class="w-5 h-5 rounded-full object-cover" src="https://s3-alpha-sig.figma.com/img/ee5e/f97b/642debfa719fcdf65388516e1d3d1c49?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C48ijQBfpmjOgThQYnq8XkEc3LAC-KzECz5boj7~r2pB9Zf82oRrd73ArXpsmn9dynMYh0HJMCw7Civ07GU0PRd-nCZ76d1LrupjkgLCl6tDqhq8r2lwj9MDw-mnOnStIzv1XcABQDrlJ0HZlzBIymyDWeP8M9WH2iwevyy1YikiH9jouo0i5~9atD1fQAg3gVr2zYGsdj-LG-kUq6BX3d6NnU2ZHmAQpvxOeGMKVYXK3qnQMaffdBN-OOJ5B0mspcV0arkRM262QlaG~bYbd3yF82tBORYh08q~Xp1~luLj5ZPPN6Gw3jeUZJ4gfAVSdQzD2HhEKUqXRUUy99y0lw__" alt="">
        <span class="absolute top-0 left-0 transform -translate-y-1/2 w-2 h-2 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    </div>

    <p class="font-montserrat text-xs leading-5">Yomi casual</p>
   </span>
{% endmacro %}