{% macro tailorCard(tailor) %}
    <a href="/{{tailor.business_name}}">
        <div role="heading"
        class="min-w-[230px] rounded-lg aspect-[2.32] flex gap-2 card-shadow items-center p-3">
       <div class="relative w-[69px] max-w-[69px] me-1">
           <img class="bg-center object-cover w-18 max-w-18 aspect-square rounded-full"
                src="{{ tailor.photo }}"
                alt="" />
           <span class="-top-1 left-12  absolute  w-4 h-4 bg-[#48E000] border-2 border-white dark:border-gray-800 rounded-full"></span>
       </div>

       <div class="flex text-base leading-6 mr-0">
           <div class="flex flex-col gap-2">
               <div class="inline-flex w-full items-center space-x-1">
                   <p class="text-sm leading-6">
                       {{ tailor.business_name }}
                   </p>
                   <span>
                       <svg xmlns="http://www.w3.org/2000/svg"
                            width="19"
                            height="19"
                            viewBox="0 0 19 19"
                            fill="none">
                           <g clip-path="url(#clip0_6779_20919)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M9.45204 1.7691L12.3876 0.5L13.9971 3.23997L17.119 3.93767L16.811 7.09964L18.9256 9.49923L16.8187 11.8773L17.119 15.0623L14.0156 15.7477L12.3876 18.5L9.4736 17.2294L6.53803 18.5L4.92855 15.76L1.80662 15.0623L2.11466 11.8988L0 9.49923L2.10696 7.1212L1.80662 3.93767L4.91007 3.25229L6.53803 0.5L9.45204 1.7691Z" fill="#10A64A" />
                           <path d="M5.8397 10.5111C4.90482 9.50537 6.34026 8.00678 7.37987 8.95553C7.74643 9.28975 8.27933 9.77798 8.64898 10.1091L11.4983 6.6083C12.4902 5.58255 14.0565 7.08884 13.077 8.12075L9.49761 12.3901C9.30184 12.5969 9.0334 12.7195 8.74892 12.7322C8.46445 12.7448 8.18619 12.6465 7.97284 12.4579C7.36601 11.8803 6.47579 11.0502 5.8397 10.5111Z" fill="white" />
                           </g>
                           <defs>
                           <clipPath id="clip0_6779_20919">
                           <rect width="18.9256" height="18" fill="white" transform="translate(0 0.5)" />
                           </clipPath>
                           </defs>
                       </svg>
                   </span>
               </div>

               <p class="font-roboto text-xs text-sc-gray-dark tracking-wide"> {{ tailor.products | length  }} products</p>

               <div class="flex w-full">
                   <svg class="inline-flex w-4 h-4 text-yellow-300 me-1"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 22 20">
                       <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                   </svg>
                   <span class="text-xs leading-4 dark:text-white">
                       {{ tailor.reviews | average_reviews }}
                   </span>
               </div>
           </div>
       </div>
   </div>
    </a>
{% endmacro %}
