{% macro tailorBadge(tailor_name, tailor_img_url) %}
   <span class="flex gap-1 items-center relative">
    <div class="relative h-fit">
        <img class="w-5 h-5 rounded-full object-cover" src="{{tailor_img_url}}" alt="">
        <span class="absolute top-0 left-0 transform -translate-y-1/2 w-2 h-2 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    </div>

    <p class="font-roboto text-black leading-5 tracking-wide text-xs">{{tailor_name}}</p>
   </span>
{% endmacro %}