{% from 'macros/testimony.html' import testimony   %}

{% macro testimonials(reviews) %}
<section class="p-4 flex flex-col  justify-between">

    <h3 class="text-sc-gray-dark text-center text-xl leading-9 capitalize font-montserrat">
        Our happy clients
    </h3>

    <div class="p-1 flex gap-5 w-full overflow-x-scroll no-scrollbar">

        
            {% for review in reviews %}
                    {{testimony(
                        review.order.user.first_name,
                        "Abuja",
                        review.review
                    )}}
            {% endfor %}    
     

    </div>
</section>
{% endmacro %}

