{% from 'macros/feature.html' import feature   %}

<section class="grid grid-cols-2 gap-3 p-4">

    {{
        feature("Customization", "customization", "Tailored to Your Style. Create unique designs that reflect your individuality.")
    }}

    {{
        feature("Trust", "trust", "Reliable Connections, Count on skilled tailors and secure transactions.")
    }}    

    {{
        feature("Availability", "availability", "Always at Your Fingertips. Access a network of tailors anytime, anywhere.")
    }}    

    {{
        feature("Track Progress", "tracking", "Know Every Step. Easily track the progress of your custom orders.")
    }}    
</section>