<section
  class="w-full h-[60vh] bg-cover bg-center bg-no-repeat bg-[url('/static/images/hero_img_1.png')] bg-black/30 bg-blend-multiply"
>
  <div class="px-10 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="font-trajanpro leading-8 mb-4 text-2xl font-normal tracking-tight text-white md:text-5xl lg:text-6xl"
    >
      Discover Personalized Fashion: Your Style, On Time
    </h1>
    <!-- <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p> -->
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <form class="flex items-center max-w-lg mx-auto w-full">
        <label for="search" class="sr-only">Search</label>
        <div class="relative w-full">
          <input
            type="text"
            id="voice-search"
            class="border-gray-300 placeholder:leading-7 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search products, tailors, styles..."
            required
          />
          <button
            type="button"
            class="absolute inset-y-0 end-0 flex items-center pe-3"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="#006060"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
