{% from 'macros/testimony.html' import testimony   %}


<section class="p-4 flex flex-col  justify-between">

    <h3 class="text-fdt-brown-dark text-xl leading-9 capitalize font-montserrat">
        Our happy clients
    </h3>

    <div class="flex gap-5 w-full overflow-x-scroll no-scrollbar">

            {{testimony(
                "Fatima A",
                "Abuja",
                "O",
                "I'm impressed by the level of personalization offered.
                 My native attire was tailored to perfection, capturing 
                 the essence of Nigerian tradition with a modern twist.
                 The communication throughout the process was excellent.
                 I'll definitely be a repeat customer"
            )}}

            {{testimony(
                "Ndikani C",
                "Benin",
                "O",
                "I'm impressed by the level of personalization offered.
                 My native attire was tailored to perfection, capturing 
                 the essence of Nigerian tradition with a modern twist.
                 The communication throughout the process was excellent.
                 I'll definitely be a repeat customer."
            )}}

            {{testimony(
                "Fatima A",
                "Abuja",
                "O",
                "I'm impressed by the level of personalization offered.
                 My native attire was tailored to perfection, capturing 
                 the essence of Nigerian tradition with a modern twist.
                 The communication throughout the process was excellent.
                 I'll definitely be a repeat customer."
            )}}

    </div>
</section>
