<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/src/output.css') }}"
    />
    <link href="https://fonts.cdnfonts.com/css/trajan-pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet" />
              <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
              rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"></script>
    <title>Document</title>
  </head>
  <body>

    {% include 'partials/sidebar.html' %}

    {% from 'macros/flash.html' import toast_danger, toast_success %}

    <!-- fOR flashing notifications -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul x-data="{ show: true }"
                x-show="show"
                x-transition
                x-transition.scale.origin.top
                x-transition:enter.duration.500ms
                x-transition:leave.duration.400ms
                x-init="setTimeout(() => show = false, 3000)"
                class="w-full flex flex-col absolute top-16 justify-center items-center">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        {{ toast_danger(message) }}
                    {% else %}
                        {{ toast_success(message) }}
                    {% endif %}

                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="sm:ml-64">
      <div class="dark:border-gray-700 mt-14">
         
        {% block content %}
                    
        {% endblock %}
            
      </div>
   </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
