<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/src/output.css') }}">
    <title>Document</title>
</head>
<body>
   
    {% include 'partials/sidebar.html'   %}
    

        {% block content %}
        
        {% endblock %}


        {% block footer %}
            
        {% endblock %}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>